.comment {
    border: 1px solid var(--accent);
    border-radius: 10px;
    background-color: var(--primary);
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
}
.body {
    padding-left: 5px;
}

h3 {

    margin: auto;
}

.sentiment {
    justify-self: right;
}

.followups {
    color: var(--secondary)
}

.good {
    
    -webkit-box-shadow: 2px 3px 19px -2px var(--green); 
    box-shadow: 2px 3px 19px -2px var(--green);
    border-bottom: 4px solid var(--green);
}



.bad {
    
    -webkit-box-shadow: 2px 3px 19px -2px var(--red); 
    box-shadow: 2px 3px 19px -2px var(--red);
    border-bottom: 4px solid var(--red);
}


.bad .body {
    
}