.comment {
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: rgb(23, 7, 86);
    color: whitesmoke;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    
}

h3 {
    color: lightskyblue;
    margin: auto;
}

.followups {
    color: pink;
}

.good {
    border: 3px solid green;
}

.bad {
    border: 3px solid red;
}