.comment {
    border: 1px solid var(--accent);
    border-radius: 10px;
    background-color: var(--primary);
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    
}

h3 {

    margin: auto;
}

.followups {
    color: var(--secondary)
}

.good {
    
    -webkit-box-shadow: 2px 3px 19px -2px rgb(162, 248, 162); 
    box-shadow: 2px 3px 19px -2px rgb(162, 248, 162);
}

.bad {
    
    -webkit-box-shadow: 2px 3px 19px -2px rgb(235, 107, 107); 
    box-shadow: 2px 3px 19px -2px rgb(235, 107, 107);
}