.Home {
padding-top: 75px;


 & h1 {
    margin: 0;
 }

 & label {
    font-weight: 500;
    margin-right: 8px;
 }


& .newComment {
    display: flex;
    border: 1px solid var(--accent);
    background-color: var(--primary);
    margin: 0rem auto 1rem auto;
    align-items: center;
    justify-content: space-around;
    
}

& #filter {
    width: 50%;
    text-align: center;

}

& header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


}