.container {
    margin: 0;
    height: 100%;
    width: 100%;
}



.newComment {
    border: 1px solid lightgray;

    
    height: 20%;
    background-color: rgb(23, 7, 86);
    margin: 0rem auto 1rem auto;
    width: 100%;
    
    padding: 1rem;
}

#filter {
    width: 60%;
    margin: .5rem auto;
}

.comments{
    width: 75%;
    height: 100%;
    margin: auto;

}

.commentContainer {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    height: 100%;
    width: 95%;
}